<section id="precos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Preços e Promoções</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar wow bounceIn text-primary"></i>
                    <h3>4 meses</h3>
                    <p class="text-muted">Malhe 4 meses por R$ 180,00 com esteira ou apenas R$ 160,00 sem esteira.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-dollar wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Mensalidade com esteira</h3>
                    <p class="text-muted">Apenas R$ 55,00</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-dollar wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Mensalidade sem esteira</h3>
                    <p class="text-muted">Apenas R$ 50,00</p>
                </div>
            </div>
        </div>
    </div>
</section>
