<section class="bg-dark" id="quemsomos">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Quem somos?</h2>
                <hr class="light">
                <p class="text-faded text-left">Iniciamos nossas atividades em 1988 com natação para crianças.</br></br>
                Em 2001 adquirimos máquinas de musculação e desde então estamos funcionando de segunda a sábado.Nossa missão é trazer saúde e bem-estar para você através dos nossos serviços.</br></br>
                Nosso endereço:</br></br>
                Rua Gilberto Câmara, 987 – São Gerardo – Fortaleza, Ce.</br></br>
                Tel. 85 32834773</br></br>
                </p>
                <a href="#precos" class="btn btn-primary btn-xl page-scroll">Preços e Promoções</a>
            </div>
        </div>
    </div>
</section>
